@{
    ViewBag.Title = "DMCA submission procedure";
}
<h2>@ViewBag.Title</h2>

<p>Please submit your DMCA takedown notice by sending an email to wwwimgjar@gmail.com and make sure to include the following information:</p>

<ul>
    <li>
        URLs of offending content (one per line)
    </li>
    <li>
        Description of copyrighted work claimed to have been infringed
    </li>
    <li>
        Copyright owner name, your full name, your job title, your e-mail address, your phone number, your address, city, state, postal code and country
    </li>
</ul>

<hr/>
<p>
    By sending the DMCA notice email, you state UNDER PENALTY OF PERJURY of law that:
</p>
<ul>
    <li>
        I hereby state that I have a good faith belief that the sharing of copyrighted material at the location above is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use).
    </li>
    <li>
        I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of, the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed.
    </li>
    <li>
        I acknowledge that under Section 512(f) any person who knowingly materially misrepresents that material or activity is infringing may be subject to liability for damages.
    </li>
</ul>
<hr/>
<p>You may only submit the request for your personal copyright or for copyright of someone you are authorized to represent.</p>