@{
    ViewBag.Title = "Terms of Use";
}
<h2>@ViewBag.Title.</h2>

<p>
    This free service is provided AS IS.
</p>
<h4>Sharing your content</h4>
<p>This service let you share your content with others. Please think carefully about what you share.</p>
<p>Please don't upload content unless you have the right to do so.</p>
<h4>Copyright</h4>
<p>
    We respond to notices of alleged copyright infringement if notices comply with the law.
    We reserve the right to delete or disable content alleged to be infringing and terminate accounts of repeat infringers.

    You can report copyright infringment by submitting the form located here: 
    <a href="/copyright" class="btn btn-default">Submit DMCA notice</a>
</p>
<h4>Privacy</h4>
<p>We record a timestamp and IP address for every uploaded file. We will not disclose this information with a 3rd party unless required by law.</p>
<h4>Illegal content</h4>
<p>We will report any attempt at uploading illegal content to our service, especially child pornography, to the FBI.</p>
<h4>Changes to these terms</h4>
<p>We reserve the right to modify these terms from time to time. By continuing to use or access our service after the revisions come into effect, you agree to be bound by the revised Terms.</p>